{% extends 'base.html' %}

{% block body %}

<h2>{{ the_title }}</h2>

<table>

    <tr>
        <td><center>Hazardous Environments</center></td>
        <td>
        <audio controls>
            <source src="..\static\Half-Life 2\01 Hazardous Environments.mp3" type="audio/mpeg"/>
            <source src="..\static\Half-Life 2\01 Hazardous Environments.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Half-Life 2\01 Hazardous Environments.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>CP Violation</center></td>
        <td>
        <audio controls>
            <source src="..\static\Half-Life 2\02 CP Violation.mp3" type="audio/mpeg"/>
            <source src="..\static\Half-Life 2\02 CP Violation.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Half-Life 2\02 CP Violation.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>The Innsbruck Experiment</center></td>
        <td>
        <audio controls>
            <source src="..\static\Half-Life 2\03 The Innsbruck Experiment.mp3" type="audio/mpeg"/>
            <source src="..\static\Half-Life 2\03 The Innsbruck Experiment.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Half-Life 2\03 The Innsbruck Experiment.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>Brane Scan</center></td>
        <td>
        <audio controls>
            <source src="..\static\Half-Life 2\04 Brane Scan.mp3" type="audio/mpeg"/>
            <source src="..\static\Half-Life 2\04 Brane Scan.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Half-Life 2\04 Brane Scan.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>Dark Energy</center></td>
        <td>
        <audio controls>
            <source src="..\static\Half-Life 2\05 Dark Energy.mp3" type="audio/mpeg"/>
            <source src="..\static\Half-Life 2\05 Dark Energy.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Half-Life 2\05 Dark Energy.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>Requiem for Ravenholm</center></td>
        <td>
        <audio controls>
            <source src="..\static\Half-Life 2\06 Requiem for Ravenholm.mp3" type="audio/mpeg"/>
            <source src="..\static\Half-Life 2\06 Requiem for Ravenholm.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Half-Life 2\06 Requiem for Ravenholm.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>Pulse Phase</center></td>
        <td>
        <audio controls>
            <source src="..\static\Half-Life 2\07 Pulse Phase.mp3" type="audio/mpeg"/>
            <source src="..\static\Half-Life 2\07 Pulse Phase.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Half-Life 2\07 Pulse Phase.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>Ravenholm Reprise</center></td>
        <td>
        <audio controls>
            <source src="..\static\Half-Life 2\08 Ravenholm Reprise.mp3" type="audio/mpeg"/>
            <source src="..\static\Half-Life 2\08 Ravenholm Reprise.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Half-Life 2\08 Ravenholm Reprise.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>Probably Not A Problem</center></td>
        <td>
        <audio controls>
            <source src="..\static\Half-Life 2\09 Probably Not A Problem.mp3" type="audio/mpeg"/>
            <source src="..\static\Half-Life 2\09 Probably Not A Problem.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Half-Life 2\09 Probably Not A Problem.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>Calabi-Yau Model</center></td>
        <td>
        <audio controls>
            <source src="..\static\Half-Life 2\10 Calabi-Yau Model.mp3" type="audio/mpeg"/>
            <source src="..\static\Half-Life 2\10 Calabi-Yau Model.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Half-Life 2\10 Calabi-Yau Model.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>Slow Light</center></td>
        <td>
        <audio controls>
            <source src="..\static\Half-Life 2\11 Slow Light.mp3" type="audio/mpeg"/>
            <source src="..\static\Half-Life 2\11 Slow Light.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Half-Life 2\11 Slow Light.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>Apprehension and Evasion</center></td>
        <td>
        <audio controls>
            <source src="..\static\Half-Life 2\12 Apprehension and Evasion.mp3" type="audio/mpeg"/>
            <source src="..\static\Half-Life 2\12 Apprehension and Evasion.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Half-Life 2\12 Apprehension and Evasion.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>Hunter Down</center></td>
        <td>
        <audio controls>
            <source src="..\static\Half-Life 2\13 Hunter Down.mp3" type="audio/mpeg"/>
            <source src="..\static\Half-Life 2\13 Hunter Down.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Half-Life 2\13 Hunter Down.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>Our Resurrected Teleport</center></td>
        <td>
        <audio controls>
            <source src="..\static\Half-Life 2\14 Our Resurrected Teleport.mp3" type="audio/mpeg"/>
            <source src="..\static\Half-Life 2\14 Our Resurrected Teleport.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Half-Life 2\14 Our Resurrected Teleport.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>Miscount Detected</center></td>
        <td>
        <audio controls>
            <source src="..\static\Half-Life 2\15 Miscount Detected.mp3" type="audio/mpeg"/>
            <source src="..\static\Half-Life 2\15 Miscount Detected.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Half-Life 2\15 Miscount Detected.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>Headhumper</center></td>
        <td>
        <audio controls>
            <source src="..\static\Half-Life 2\16 Headhumper.mp3" type="audio/mpeg"/>
            <source src="..\static\Half-Life 2\16 Headhumper.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Half-Life 2\16 Headhumper.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>Triage at Dawn</center></td>
        <td>
        <audio controls>
            <source src="..\static\Half-Life 2\17 Triage at Dawn.mp3" type="audio/mpeg"/>
            <source src="..\static\Half-Life 2\17 Triage at Dawn.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Half-Life 2\17 Triage at Dawn.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>Combine Harvester</center></td>
        <td>
        <audio controls>
            <source src="..\static\Half-Life 2\18 Combine Harvester.mp3" type="audio/mpeg"/>
            <source src="..\static\Half-Life 2\18 Combine Harvester.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Half-Life 2\18 Combine Harvester.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>Lab Practicum</center></td>
        <td>
        <audio controls>
            <source src="..\static\Half-Life 2\19 Lab Practicum.mp3" type="audio/mpeg"/>
            <source src="..\static\Half-Life 2\19 Lab Practicum.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Half-Life 2\19 Lab Practicum.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>Nova Prospekt</center></td>
        <td>
        <audio controls>
            <source src="..\static\Half-Life 2\20 Nova Prospekt.mp3" type="audio/mpeg"/>
            <source src="..\static\Half-Life 2\20 Nova Prospekt.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Half-Life 2\20 Nova Prospekt.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>Broken Symmetry</center></td>
        <td>
        <audio controls>
            <source src="..\static\Half-Life 2\21 Broken Symmetry.mp3" type="audio/mpeg"/>
            <source src="..\static\Half-Life 2\21 Broken Symmetry.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Half-Life 2\21 Broken Symmetry.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>LG Orbifold</center></td>
        <td>
        <audio controls>
            <source src="..\static\Half-Life 2\22 LG Orbifold.mp3" type="audio/mpeg"/>
            <source src="..\static\Half-Life 2\22 LG Orbifold.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Half-Life 2\22 LG Orbifold.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>Kaon</center></td>
        <td>
        <audio controls>
            <source src="..\static\Half-Life 2\23 Kaon.mp3" type="audio/mpeg"/>
            <source src="..\static\Half-Life 2\23 Kaon.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Half-Life 2\23 Kaon.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>You're Not Supposed to Be Here</center></td>
        <td>
        <audio controls>
            <source src="..\static\Half-Life 2\24 You're Not Supposed to Be Here.mp3" type="audio/mpeg"/>
            <source src="..\static\Half-Life 2\24 You're Not Supposed to Be Here.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Half-Life 2\24 You're Not Supposed to Be Here.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>Suppression Field</center></td>
        <td>
        <audio controls>
            <source src="..\static\Half-Life 2\25 Suppression Field.mp3" type="audio/mpeg"/>
            <source src="..\static\Half-Life 2\25 Suppression Field.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Half-Life 2\25 Suppression Field.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>Hard Fought</center></td>
        <td>
        <audio controls>
            <source src="..\static\Half-Life 2\26 Hard Fought.mp3" type="audio/mpeg"/>
            <source src="..\static\Half-Life 2\26 Hard Fought.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Half-Life 2\26 Hard Fought.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>Particle Ghost</center></td>
        <td>
        <audio controls>
            <source src="..\static\Half-Life 2\27 Particle Ghost.mp3" type="audio/mpeg"/>
            <source src="..\static\Half-Life 2\27 Particle Ghost.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Half-Life 2\27 Particle Ghost.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>Shadows Fore and Aft</center></td>
        <td>
        <audio controls>
            <source src="..\static\Half-Life 2\28 Shadows Fore and Aft.mp3" type="audio/mpeg"/>
            <source src="..\static\Half-Life 2\28 Shadows Fore and Aft.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Half-Life 2\28 Shadows Fore and Aft.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>Neutrino Trap</center></td>
        <td>
        <audio controls>
            <source src="..\static\Half-Life 2\29 Neutrino Trap.mp3" type="audio/mpeg"/>
            <source src="..\static\Half-Life 2\29 Neutrino Trap.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Half-Life 2\29 Neutrino Trap.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>Zero Point Energy Field</center></td>
        <td>
        <audio controls>
            <source src="..\static\Half-Life 2\30 Zero Point Energy Field.mp3" type="audio/mpeg"/>
            <source src="..\static\Half-Life 2\30 Zero Point Energy Field.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Half-Life 2\30 Zero Point Energy Field.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>Echoes of a Resonance Cascade</center></td>
        <td>
        <audio controls>
            <source src="..\static\Half-Life 2\31 Echoes of a Resonance Cascade.mp3" type="audio/mpeg"/>
            <source src="..\static\Half-Life 2\31 Echoes of a Resonance Cascade.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Half-Life 2\31 Echoes of a Resonance Cascade.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>Black Mesa Inbound</center></td>
        <td>
        <audio controls>
            <source src="..\static\Half-Life 2\32 Black Mesa Inbound.mp3" type="audio/mpeg"/>
            <source src="..\static\Half-Life 2\32 Black Mesa Inbound.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Half-Life 2\32 Black Mesa Inbound.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>Xen Relay</center></td>
        <td>
        <audio controls>
            <source src="..\static\Half-Life 2\33 Xen Relay.mp3" type="audio/mpeg"/>
            <source src="..\static\Half-Life 2\33 Xen Relay.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Half-Life 2\33 Xen Relay.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>Tracking Device</center></td>
        <td>
        <audio controls>
            <source src="..\static\Half-Life 2\34 Tracking Device.mp3" type="audio/mpeg"/>
            <source src="..\static\Half-Life 2\34 Tracking Device.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Half-Life 2\34 Tracking Device.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>Singularity</center></td>
        <td>
        <audio controls>
            <source src="..\static\Half-Life 2\35 Singularity.mp3" type="audio/mpeg"/>
            <source src="..\static\Half-Life 2\35 Singularity.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Half-Life 2\35 Singularity.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>Dirac Shore</center></td>
        <td>
        <audio controls>
            <source src="..\static\Half-Life 2\36 Dirac Shore.mp3" type="audio/mpeg"/>
            <source src="..\static\Half-Life 2\36 Dirac Shore.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Half-Life 2\36 Dirac Shore.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>Escape Array</center></td>
        <td>
        <audio controls>
            <source src="..\static\Half-Life 2\37 Escape Array.mp3" type="audio/mpeg"/>
            <source src="..\static\Half-Life 2\37 Escape Array.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Half-Life 2\37 Escape Array.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>Negative Pressure</center></td>
        <td>
        <audio controls>
            <source src="..\static\Half-Life 2\38 Negative Pressure.mp3" type="audio/mpeg"/>
            <source src="..\static\Half-Life 2\38 Negative Pressure.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Half-Life 2\38 Negative Pressure.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>Tau-9</center></td>
        <td>
        <audio controls>
            <source src="..\static\Half-Life 2\39 Tau-9.mp3" type="audio/mpeg"/>
            <source src="..\static\Half-Life 2\39 Tau-9.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Half-Life 2\39 Tau-9.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>Something Secret Steers Us</center></td>
        <td>
        <audio controls>
            <source src="..\static\Half-Life 2\40 Something Secret Steers Us.mp3" type="audio/mpeg"/>
            <source src="..\static\Half-Life 2\40 Something Secret Steers Us.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Half-Life 2\40 Something Secret Steers Us.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>Triple Entanglement</center></td>
        <td>
        <audio controls>
            <source src="..\static\Half-Life 2\41 Triple Entanglement.mp3" type="audio/mpeg"/>
            <source src="..\static\Half-Life 2\41 Triple Entanglement.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Half-Life 2\41 Triple Entanglement.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>Biozeminade Fragment</center></td>
        <td>
        <audio controls>
            <source src="..\static\Half-Life 2\42 Biozeminade Fragment.mp3" type="audio/mpeg"/>
            <source src="..\static\Half-Life 2\42 Biozeminade Fragment.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Half-Life 2\42 Biozeminade Fragment.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>Lambda Core</center></td>
        <td>
        <audio controls>
            <source src="..\static\Half-Life 2\43 Lambda Core.mp3" type="audio/mpeg"/>
            <source src="..\static\Half-Life 2\43 Lambda Core.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Half-Life 2\43 Lambda Core.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>

</table>

{% endblock %}