{% extends 'base.html' %}

{% block body %}

<h2>{{ the_title }}</h2>

<table>

    <tr>
        <td><center>Adrenaline Horror</center></td>
        <td>
        <audio controls>
            <source src="..\static\Half-Life\01 Adrenaline Horror.mp3" type="audio/mpeg"/>
            <source src="..\static\Half-Life\01 Adrenaline Horror.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Half-Life\01 Adrenaline Horror.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>Vague Voices</center></td>
        <td>
        <audio controls>
            <source src="..\static\Half-Life\02 Vague Voices.mp3" type="audio/mpeg"/>
            <source src="..\static\Half-Life\02 Vague Voices.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Half-Life\02 Vague Voices.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>Klaxon Beat</center></td>
        <td>
        <audio controls>
            <source src="..\static\Half-Life\03 Klaxon Beat.mp3" type="audio/mpeg"/>
            <source src="..\static\Half-Life\03 Klaxon Beat.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Half-Life\03 Klaxon Beat.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>Space Ocean</center></td>
        <td>
        <audio controls>
            <source src="..\static\Half-Life\04 Space Ocean.mp3" type="audio/mpeg"/>
            <source src="..\static\Half-Life\04 Space Ocean.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Half-Life\04 Space Ocean.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>Cavern Ambience</center></td>
        <td>
        <audio controls>
            <source src="..\static\Half-Life\05 Cavern Ambience.mp3" type="audio/mpeg"/>
            <source src="..\static\Half-Life\05 Cavern Ambience.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Half-Life\05 Cavern Ambience.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>Apprehensive</center></td>
        <td>
        <audio controls>
            <source src="..\static\Half-Life\06 Apprehensive.mp3" type="audio/mpeg"/>
            <source src="..\static\Half-Life\06 Apprehensive.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Half-Life\06 Apprehensive.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>Bass String</center></td>
        <td>
        <audio controls>
            <source src="..\static\Half-Life\07 Bass String.mp3" type="audio/mpeg"/>
            <source src="..\static\Half-Life\07 Bass String.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Half-Life\07 Bass String.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>Hurricane Strings</center></td>
        <td>
        <audio controls>
            <source src="..\static\Half-Life\08 Hurricane Strings.mp3" type="audio/mpeg"/>
            <source src="..\static\Half-Life\08 Hurricane Strings.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Half-Life\08 Hurricane Strings.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>Diabolical Adrenaline Guitar</center></td>
        <td>
        <audio controls>
            <source src="..\static\Half-Life\09 Diabolical Adrenaline Guitar.mp3" type="audio/mpeg"/>
            <source src="..\static\Half-Life\09 Diabolical Adrenaline Guitar.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Half-Life\09 Diabolical Adrenaline Guitar.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>Valve Theme [Extended]</center></td>
        <td>
        <audio controls>
            <source src="..\static\Half-Life\10 Valve Theme [Extended].mp3" type="audio/mpeg"/>
            <source src="..\static\Half-Life\10 Valve Theme [Extended].ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Half-Life\10 Valve Theme [Extended].mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>Nepal Monastery</center></td>
        <td>
        <audio controls>
            <source src="..\static\Half-Life\11 Nepal Monastery.mp3" type="audio/mpeg"/>
            <source src="..\static\Half-Life\11 Nepal Monastery.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Half-Life\11 Nepal Monastery.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>Alien Shock</center></td>
        <td>
        <audio controls>
            <source src="..\static\Half-Life\12 Alien Shock.mp3" type="audio/mpeg"/>
            <source src="..\static\Half-Life\12 Alien Shock.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Half-Life\12 Alien Shock.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>Sirens In The Distance</center></td>
        <td>
        <audio controls>
            <source src="..\static\Half-Life\13 Sirens In The Distance.mp3" type="audio/mpeg"/>
            <source src="..\static\Half-Life\13 Sirens In The Distance.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Half-Life\13 Sirens In The Distance.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>Nuclear Mission Jam</center></td>
        <td>
        <audio controls>
            <source src="..\static\Half-Life\14 Nuclear Mission Jam.mp3" type="audio/mpeg"/>
            <source src="..\static\Half-Life\14 Nuclear Mission Jam.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Half-Life\14 Nuclear Mission Jam.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>Scared Confused Short</center></td>
        <td>
        <audio controls>
            <source src="..\static\Half-Life\15 Scared Confused Short.mp3" type="audio/mpeg"/>
            <source src="..\static\Half-Life\15 Scared Confused Short.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Half-Life\15 Scared Confused Short.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>Drums & Riffs</center></td>
        <td>
        <audio controls>
            <source src="..\static\Half-Life\16 Drums & Riffs.mp3" type="audio/mpeg"/>
            <source src="..\static\Half-Life\16 Drums & Riffs.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Half-Life\16 Drums & Riffs.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>Hard Technology Rock</center></td>
        <td>
        <audio controls>
            <source src="..\static\Half-Life\17 Hard Technology Rock.mp3" type="audio/mpeg"/>
            <source src="..\static\Half-Life\17 Hard Technology Rock.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Half-Life\17 Hard Technology Rock.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>Steam In The Pipes</center></td>
        <td>
        <audio controls>
            <source src="..\static\Half-Life\18 Steam In The Pipes.mp3" type="audio/mpeg"/>
            <source src="..\static\Half-Life\18 Steam In The Pipes.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Half-Life\18 Steam In The Pipes.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>Electric Guitar Ambience</center></td>
        <td>
        <audio controls>
            <source src="..\static\Half-Life\19 Electric Guitar Ambience.mp3" type="audio/mpeg"/>
            <source src="..\static\Half-Life\19 Electric Guitar Ambience.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Half-Life\19 Electric Guitar Ambience.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>Dimensionless Deepness</center></td>
        <td>
        <audio controls>
            <source src="..\static\Half-Life\20 Dimensionless Deepness.mp3" type="audio/mpeg"/>
            <source src="..\static\Half-Life\20 Dimensionless Deepness.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Half-Life\20 Dimensionless Deepness.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>Military Precision</center></td>
        <td>
        <audio controls>
            <source src="..\static\Half-Life\21 Military Precision.mp3" type="audio/mpeg"/>
            <source src="..\static\Half-Life\21 Military Precision.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Half-Life\21 Military Precision.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>Jungle Drums</center></td>
        <td>
        <audio controls>
            <source src="..\static\Half-Life\22 Jungle Drums.mp3" type="audio/mpeg"/>
            <source src="..\static\Half-Life\22 Jungle Drums.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Half-Life\22 Jungle Drums.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>Traveling Through Limbo</center></td>
        <td>
        <audio controls>
            <source src="..\static\Half-Life\23 Traveling Through Limbo.mp3" type="audio/mpeg"/>
            <source src="..\static\Half-Life\23 Traveling Through Limbo.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Half-Life\23 Traveling Through Limbo.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>Credits Closing Theme</center></td>
        <td>
        <audio controls>
            <source src="..\static\Half-Life\24 Credits Closing Theme.mp3" type="audio/mpeg"/>
            <source src="..\static\Half-Life\24 Credits Closing Theme.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Half-Life\24 Credits Closing Theme.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>Threatening Short</center></td>
        <td>
        <audio controls>
            <source src="..\static\Half-Life\25 Threatening Short.mp3" type="audio/mpeg"/>
            <source src="..\static\Half-Life\25 Threatening Short.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Half-Life\25 Threatening Short.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>Dark Piano Short</center></td>
        <td>
        <audio controls>
            <source src="..\static\Half-Life\26 Dark Piano Short.mp3" type="audio/mpeg"/>
            <source src="..\static\Half-Life\26 Dark Piano Short.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Half-Life\26 Dark Piano Short.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>Sharp Fear Short</center></td>
        <td>
        <audio controls>
            <source src="..\static\Half-Life\27 Sharp Fear Short.mp3" type="audio/mpeg"/>
            <source src="..\static\Half-Life\27 Sharp Fear Short.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Half-Life\27 Sharp Fear Short.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>

</table>

{% endblock %}