{% extends 'base.html' %}

{% block body %}

<h2>{{ the_title }}</h2>

<table>

	<tr>
        <td><center>No One Rides For Free</center></td>
        <td>
        <audio controls>
            <source src="..\static\Half-Life 2 Episode Two\01 No One Rides For Free.mp3" type="audio/mpeg"/>
            <source src="..\static\Half-Life 2 Episode Two\01 No One Rides For Free.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Half-Life 2 Episode Two\01 No One Rides For Free.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>Dark Interval</center></td>
        <td>
        <audio controls>
            <source src="..\static\Half-Life 2 Episode Two\02 Dark Interval.mp3" type="audio/mpeg"/>
            <source src="..\static\Half-Life 2 Episode Two\02 Dark Interval.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Half-Life 2 Episode Two\02 Dark Interval.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>Nectarium</center></td>
        <td>
        <audio controls>
            <source src="..\static\Half-Life 2 Episode Two\03 Nectarium.mp3" type="audio/mpeg"/>
            <source src="..\static\Half-Life 2 Episode Two\03 Nectarium.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Half-Life 2 Episode Two\03 Nectarium.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>Extinction Event Horizon</center></td>
        <td>
        <audio controls>
            <source src="..\static\Half-Life 2 Episode Two\04 Extinction Event Horizon.mp3" type="audio/mpeg"/>
            <source src="..\static\Half-Life 2 Episode Two\04 Extinction Event Horizon.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Half-Life 2 Episode Two\04 Extinction Event Horizon.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>Vortal Combat</center></td>
        <td>
        <audio controls>
            <source src="..\static\Half-Life 2 Episode Two\05 Vortal Combat.mp3" type="audio/mpeg"/>
            <source src="..\static\Half-Life 2 Episode Two\05 Vortal Combat.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Half-Life 2 Episode Two\05 Vortal Combat.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>Sector Sweep</center></td>
        <td>
        <audio controls>
            <source src="..\static\Half-Life 2 Episode Two\06 Sector Sweep.mp3" type="audio/mpeg"/>
            <source src="..\static\Half-Life 2 Episode Two\06 Sector Sweep.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Half-Life 2 Episode Two\06 Sector Sweep.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>Shu'ulathoi</center></td>
        <td>
        <audio controls>
            <source src="..\static\Half-Life 2 Episode Two\07 Shu'ulathoi.mp3" type="audio/mpeg"/>
            <source src="..\static\Half-Life 2 Episode Two\07 Shu'ulathoi.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Half-Life 2 Episode Two\07 Shu'ulathoi.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>Last Legs</center></td>
        <td>
        <audio controls>
            <source src="..\static\Half-Life 2 Episode Two\08 Last Legs.mp3" type="audio/mpeg"/>
            <source src="..\static\Half-Life 2 Episode Two\08 Last Legs.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Half-Life 2 Episode Two\08 Last Legs.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>Abandoned In Place</center></td>
        <td>
        <audio controls>
            <source src="..\static\Half-Life 2 Episode Two\09 Abandoned In Place.mp3" type="audio/mpeg"/>
            <source src="..\static\Half-Life 2 Episode Two\09 Abandoned In Place.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Half-Life 2 Episode Two\09 Abandoned In Place.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>Inhuman Frequency</center></td>
        <td>
        <audio controls>
            <source src="..\static\Half-Life 2 Episode Two\10 Inhuman Frequency.mp3" type="audio/mpeg"/>
            <source src="..\static\Half-Life 2 Episode Two\10 Inhuman Frequency.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Half-Life 2 Episode Two\10 Inhuman Frequency.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>Hunting Party</center></td>
		<td>
        <audio controls>
            <source src="..\static\Half-Life 2 Episode Two\11 Hunting Party.mp3" type="audio/mpeg"/>
            <source src="..\static\Half-Life 2 Episode Two\11 Hunting Party.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Half-Life 2 Episode Two\11 Hunting Party.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    

</table>

{% endblock %}