{% extends 'base.html' %}

{% block body %}

<h2>{{ the_title }}</h2>

<table>

	<tr>
        <td><center>Disrupted Original</center></td>
        <td>
        <audio controls>
            <source src="..\static\Half-Life 2 Episode One\01 Disrupted Original.mp3" type="audio/mpeg"/>
            <source src="..\static\Half-Life 2 Episode One\01 Disrupted Original.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Half-Life 2 Episode One\01 Disrupted Original.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>Combine Advisory</center></td>
        <td>
        <audio controls>
            <source src="..\static\Half-Life 2 Episode One\02 Combine Advisory.mp3" type="audio/mpeg"/>
            <source src="..\static\Half-Life 2 Episode One\02 Combine Advisory.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Half-Life 2 Episode One\02 Combine Advisory.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>Guard Down</center></td>
        <td>
        <audio controls>
            <source src="..\static\Half-Life 2 Episode One\03 Guard Down.mp3" type="audio/mpeg"/>
            <source src="..\static\Half-Life 2 Episode One\03 Guard Down.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Half-Life 2 Episode One\03 Guard Down.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>Darkness at Noon</center></td>
        <td>
        <audio controls>
            <source src="..\static\Half-Life 2 Episode One\04 Darkness at Noon.mp3" type="audio/mpeg"/>
            <source src="..\static\Half-Life 2 Episode One\04 Darkness at Noon.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Half-Life 2 Episode One\04 Darkness at Noon.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>Self Destruction</center></td>
        <td>
        <audio controls>
            <source src="..\static\Half-Life 2 Episode One\05 Self Destruction.mp3" type="audio/mpeg"/>
            <source src="..\static\Half-Life 2 Episode One\05 Self Destruction.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Half-Life 2 Episode One\05 Self Destruction.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>Eine Kleiner Elevatormuzik</center></td>
        <td>
        <audio controls>
            <source src="..\static\Half-Life 2 Episode One\06 Eine Kleiner Elevatormuzik.mp3" type="audio/mpeg"/>
            <source src="..\static\Half-Life 2 Episode One\06 Eine Kleiner Elevatormuzik.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Half-Life 2 Episode One\06 Eine Kleiner Elevatormuzik.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>What Kind Of Hospital Is This</center></td>
        <td>
        <audio controls>
            <source src="..\static\Half-Life 2 Episode One\07 What Kind Of Hospital Is This.mp3" type="audio/mpeg"/>
            <source src="..\static\Half-Life 2 Episode One\07 What Kind Of Hospital Is This.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Half-Life 2 Episode One\07 What Kind Of Hospital Is This.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>Infraradiant</center></td>
        <td>
        <audio controls>
            <source src="..\static\Half-Life 2 Episode One\08 Infraradiant.mp3" type="audio/mpeg"/>
            <source src="..\static\Half-Life 2 Episode One\08 Infraradiant.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Half-Life 2 Episode One\08 Infraradiant.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>Decay Mode</center></td>
        <td>
        <audio controls>
            <source src="..\static\Half-Life 2 Episode One\09 Decay Mode.mp3" type="audio/mpeg"/>
            <source src="..\static\Half-Life 2 Episode One\09 Decay Mode.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Half-Life 2 Episode One\09 Decay Mode.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>Penultimatum</center></td>
        <td>
        <audio controls>
            <source src="..\static\Half-Life 2 Episode One\10 Penultimatum.mp3" type="audio/mpeg"/>
            <source src="..\static\Half-Life 2 Episode One\10 Penultimatum.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Half-Life 2 Episode One\10 Penultimatum.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
	
</table>

{% endblock %}