{% extends 'base.html' %}

{% block body %}

<h2>{{ the_title }}</h2>

<table>

    <tr>
        <td><center>Subject Name Here</center></td>
        <td>
        <audio controls>
            <source src="..\static\Portal\01 Subject Name Here.mp3" type="audio/mpeg"/>
            <source src="..\static\Portal\01 Subject Name Here.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Portal\01 Subject Name Here.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>Taste of Blood</center></td>
        <td>
        <audio controls>
            <source src="..\static\Portal\02 Taste of Blood.mp3" type="audio/mpeg"/>
            <source src="..\static\Portal\02 Taste of Blood.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Portal\02 Taste of Blood.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>Android Hell</center></td>
        <td>
        <audio controls>
            <source src="..\static\Portal\03 Android Hell.mp3" type="audio/mpeg"/>
            <source src="..\static\Portal\03 Android Hell.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Portal\03 Android Hell.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>Self Esteem Fund</center></td>
        <td>
        <audio controls>
            <source src="..\static\Portal\04 Self Esteem Fund.mp3" type="audio/mpeg"/>
            <source src="..\static\Portal\04 Self Esteem Fund.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Portal\04 Self Esteem Fund.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>Procedural Jiggle Bone</center></td>
        <td>
        <audio controls>
            <source src="..\static\Portal\05 Procedural Jiggle Bone.mp3" type="audio/mpeg"/>
            <source src="..\static\Portal\05 Procedural Jiggle Bone.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Portal\05 Procedural Jiggle Bone.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>No Cake For You</center></td>
        <td>
        <audio controls>
            <source src="..\static\Portal\06 No Cake For You.mp3" type="audio/mpeg"/>
            <source src="..\static\Portal\06 No Cake For You.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Portal\06 No Cake For You.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>4000 Degrees Kelvin</center></td>
        <td>
        <audio controls>
            <source src="..\static\Portal\07 4000 Degrees Kelvin.mp3" type="audio/mpeg"/>
            <source src="..\static\Portal\07 4000 Degrees Kelvin.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Portal\07 4000 Degrees Kelvin.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>Stop What You Are Doing</center></td>
        <td>
        <audio controls>
            <source src="..\static\Portal\08 Stop What You Are Doing.mp3" type="audio/mpeg"/>
            <source src="..\static\Portal\08 Stop What You Are Doing.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Portal\08 Stop What You Are Doing.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>Party Escort</center></td>
        <td>
        <audio controls>
            <source src="..\static\Portal\09 Party Escort.mp3" type="audio/mpeg"/>
            <source src="..\static\Portal\09 Party Escort.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Portal\09 Party Escort.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>You're Not a Good Person</center></td>
        <td>
        <audio controls>
            <source src="..\static\Portal\10 You're Not a Good Person.mp3" type="audio/mpeg"/>
            <source src="..\static\Portal\10 You're Not a Good Person.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Portal\10 You're Not a Good Person.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>You Can't Escape You Know</center></td>
        <td>
        <audio controls>
            <source src="..\static\Portal\11 You Can't Escape You Know.mp3" type="audio/mpeg"/>
            <source src="..\static\Portal\11 You Can't Escape You Know.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Portal\11 You Can't Escape You Know.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>Still Alive</center></td>
        <td>
        <audio controls>
            <source src="..\static\Portal\12 Still Alive.mp3" type="audio/mpeg"/>
            <source src="..\static\Portal\12 Still Alive.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Portal\12 Still Alive.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>Still Alive (J.C. Mix)</center></td>
        <td>
        <audio controls>
            <source src="..\static\Portal\13 Still Alive (J.C. Mix).mp3" type="audio/mpeg"/>
            <source src="..\static\Portal\13 Still Alive (J.C. Mix).ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Portal\13 Still Alive (J.C. Mix).mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>

</table>

{% endblock %}