{% extends 'base.html' %}

{% block body %}

<h2>{{ the_title }}</h2>

<table>

	<tr>
        <td><center>Science is Fun</center></td>
        <td>
        <audio controls>
            <source src="..\static\Portal 2\Portal2-1x01-Science_is_Fun.mp3" type="audio/mpeg"/>
            <source src="..\static\Portal 2\Portal2-1x01-Science_is_Fun.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Portal 2\Portal2-1x01-Science_is_Fun.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>Concentration Enhancing Menu Initialiser</center></td>
        <td>
        <audio controls>
            <source src="..\static\Portal 2\Portal2-1x02-Concentration_Enhancing_Menu_Initialiser.mp3" type="audio/mpeg"/>
            <source src="..\static\Portal 2\Portal2-1x02-Concentration_Enhancing_Menu_Initialiser.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Portal 2\Portal2-1x02-Concentration_Enhancing_Menu_Initialiser.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>999999</center></td>
        <td>
        <audio controls>
            <source src="..\static\Portal 2\Portal2-1x03-999999.mp3" type="audio/mpeg"/>
            <source src="..\static\Portal 2\Portal2-1x03-999999.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Portal 2\Portal2-1x03-999999.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>The Courtesy Call</center></td>
        <td>
        <audio controls>
            <source src="..\static\Portal 2\Portal2-1x04-The_Courtesy_Call.mp3" type="audio/mpeg"/>
            <source src="..\static\Portal 2\Portal2-1x04-The_Courtesy_Call.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Portal 2\Portal2-1x04-The_Courtesy_Call.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>Technical Difficulties</center></td>
        <td>
        <audio controls>
            <source src="..\static\Portal 2\Portal2-1x05-Technical_Difficulties.mp3" type="audio/mpeg"/>
            <source src="..\static\Portal 2\Portal2-1x05-Technical_Difficulties.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Portal 2\Portal2-1x05-Technical_Difficulties.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>Overgrowth</center></td>
        <td>
        <audio controls>
            <source src="..\static\Portal 2\Portal2-1x06-Overgrowth.mp3" type="audio/mpeg"/>
            <source src="..\static\Portal 2\Portal2-1x06-Overgrowth.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Portal 2\Portal2-1x06-Overgrowth.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>Ghost of Rattman</center></td>
        <td>
        <audio controls>
            <source src="..\static\Portal 2\Portal2-1x07-Ghost_of_Rattman.mp3" type="audio/mpeg"/>
            <source src="..\static\Portal 2\Portal2-1x07-Ghost_of_Rattman.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Portal 2\Portal2-1x07-Ghost_of_Rattman.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>Haunted Panels</center></td>
        <td>
        <audio controls>
            <source src="..\static\Portal 2\Portal2-1x08-Haunted_Panels.mp3" type="audio/mpeg"/>
            <source src="..\static\Portal 2\Portal2-1x08-Haunted_Panels.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Portal 2\Portal2-1x08-Haunted_Panels.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>The Future Starts With You</center></td>
        <td>
        <audio controls>
            <source src="..\static\Portal 2\Portal2-1x09-The_Future_Starts_With_You.mp3" type="audio/mpeg"/>
            <source src="..\static\Portal 2\Portal2-1x09-The_Future_Starts_With_You.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Portal 2\Portal2-1x09-The_Future_Starts_With_You.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>There She Is</center></td>
        <td>
        <audio controls>
            <source src="..\static\Portal 2\Portal2-1x10-There_She_Is.mp3" type="audio/mpeg"/>
            <source src="..\static\Portal 2\Portal2-1x10-There_She_Is.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Portal 2\Portal2-1x10-There_She_Is.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>You Know Her</center></td>
        <td>
        <audio controls>
            <source src="..\static\Portal 2\Portal2-1x11-You_Know_Her.mp3" type="audio/mpeg"/>
            <source src="..\static\Portal 2\Portal2-1x11-You_Know_Her.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Portal 2\Portal2-1x11-You_Know_Her.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>The Friendly Faith Plate</center></td>
        <td>
        <audio controls>
            <source src="..\static\Portal 2\Portal2-1x12-The_Friendly_Faith_Plate.mp3" type="audio/mpeg"/>
            <source src="..\static\Portal 2\Portal2-1x12-The_Friendly_Faith_Plate.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Portal 2\Portal2-1x12-The_Friendly_Faith_Plate.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>15 Acres of Broken Glass</center></td>
        <td>
        <audio controls>
            <source src="..\static\Portal 2\Portal2-1x13-15_Acres_of_Broken_Glass.mp3" type="audio/mpeg"/>
            <source src="..\static\Portal 2\Portal2-1x13-15_Acres_of_Broken_Glass.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Portal 2\Portal2-1x13-15_Acres_of_Broken_Glass.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>Love as a Construct</center></td>
        <td>
        <audio controls>
            <source src="..\static\Portal 2\Portal2-1x14-Love_as_a_Construct.mp3" type="audio/mpeg"/>
            <source src="..\static\Portal 2\Portal2-1x14-Love_as_a_Construct.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Portal 2\Portal2-1x14-Love_as_a_Construct.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>I Saw a Deer Today</center></td>
        <td>
        <audio controls>
            <source src="..\static\Portal 2\Portal2-1x15-I_Saw_a_Deer_Today.mp3" type="audio/mpeg"/>
            <source src="..\static\Portal 2\Portal2-1x15-I_Saw_a_Deer_Today.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Portal 2\Portal2-1x15-I_Saw_a_Deer_Today.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>Hard Sunshine</center></td>
        <td>
        <audio controls>
            <source src="..\static\Portal 2\Portal2-1x16-Hard_Sunshine.mp3" type="audio/mpeg"/>
            <source src="..\static\Portal 2\Portal2-1x16-Hard_Sunshine.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Portal 2\Portal2-1x16-Hard_Sunshine.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>I Am Different</center></td>
        <td>
        <audio controls>
            <source src="..\static\Portal 2\Portal2-1x17-I_Am_Different.mp3" type="audio/mpeg"/>
            <source src="..\static\Portal 2\Portal2-1x17-I_Am_Different.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Portal 2\Portal2-1x17-I_Am_Different.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>Adrenal Vapor</center></td>
        <td>
        <audio controls>
            <source src="..\static\Portal 2\Portal2-1x18-Adrenal_Vapor.mp3" type="audio/mpeg"/>
            <source src="..\static\Portal 2\Portal2-1x18-Adrenal_Vapor.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Portal 2\Portal2-1x18-Adrenal_Vapor.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>Turret Wife Serenade</center></td>
        <td>
        <audio controls>
            <source src="..\static\Portal 2\Portal2-1x19-Turret_Wife_Serenade.mp3" type="audio/mpeg"/>
            <source src="..\static\Portal 2\Portal2-1x19-Turret_Wife_Serenade.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Portal 2\Portal2-1x19-Turret_Wife_Serenade.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>I Made It All Up</center></td>
        <td>
        <audio controls>
            <source src="..\static\Portal 2\Portal2-1x20-I_Made_It_All_Up.mp3" type="audio/mpeg"/>
            <source src="..\static\Portal 2\Portal2-1x20-I_Made_It_All_Up.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Portal 2\Portal2-1x20-I_Made_It_All_Up.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>Comedy Equals Tragedy Plus Time</center></td>
        <td>
        <audio controls>
            <source src="..\static\Portal 2\Portal2-1x21-Comedy_Equals_Tragedy_Plus_Time.mp3" type="audio/mpeg"/>
            <source src="..\static\Portal 2\Portal2-1x21-Comedy_Equals_Tragedy_Plus_Time.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Portal 2\Portal2-1x21-Comedy_Equals_Tragedy_Plus_Time.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>Triple Laser Phase</center></td>
        <td>
        <audio controls>
            <source src="..\static\Portal 2\Portal2-1x22-Triple_Laser_Phase.mp3" type="audio/mpeg"/>
            <source src="..\static\Portal 2\Portal2-1x22-Triple_Laser_Phase.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Portal 2\Portal2-1x22-Triple_Laser_Phase.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>You Will Be Perfect</center></td>
        <td>
        <audio controls>
            <source src="..\static\Portal 2\Portal2-2x01-You_Will_Be_Perfect.mp3" type="audio/mpeg"/>
            <source src="..\static\Portal 2\Portal2-2x01-You_Will_Be_Perfect.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Portal 2\Portal2-2x01-You_Will_Be_Perfect.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>Halls Of Science 4</center></td>
        <td>
        <audio controls>
            <source src="..\static\Portal 2\Portal2-2x02-Halls_Of_Science_4.mp3" type="audio/mpeg"/>
            <source src="..\static\Portal 2\Portal2-2x02-Halls_Of_Science_4.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Portal 2\Portal2-2x02-Halls_Of_Science_4.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>Bots Build Bots</center></td>
        <td>
        <audio controls>
            <source src="..\static\Portal 2\Portal2-2x03-Bots_Build_Bots.mp3" type="audio/mpeg"/>
            <source src="..\static\Portal 2\Portal2-2x03-Bots_Build_Bots.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Portal 2\Portal2-2x03-Bots_Build_Bots.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>An Accent Beyond</center></td>
        <td>
        <audio controls>
            <source src="..\static\Portal 2\Portal2-2x04-An_Accent_Beyond.mp3" type="audio/mpeg"/>
            <source src="..\static\Portal 2\Portal2-2x04-An_Accent_Beyond.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Portal 2\Portal2-2x04-An_Accent_Beyond.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>Robot Ghost Story</center></td>
        <td>
        <audio controls>
            <source src="..\static\Portal 2\Portal2-2x05-Robot_Ghost_Story.mp3" type="audio/mpeg"/>
            <source src="..\static\Portal 2\Portal2-2x05-Robot_Ghost_Story.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Portal 2\Portal2-2x05-Robot_Ghost_Story.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>Die Cut Laser Dance</center></td>
        <td>
        <audio controls>
            <source src="..\static\Portal 2\Portal2-2x06-Die_Cut_Laser_Dance.mp3" type="audio/mpeg"/>
            <source src="..\static\Portal 2\Portal2-2x06-Die_Cut_Laser_Dance.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Portal 2\Portal2-2x06-Die_Cut_Laser_Dance.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>Turret Redemption Line</center></td>
        <td>
        <audio controls>
            <source src="..\static\Portal 2\Portal2-2x07-Turret_Redemption_Line.mp3" type="audio/mpeg"/>
            <source src="..\static\Portal 2\Portal2-2x07-Turret_Redemption_Line.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Portal 2\Portal2-2x07-Turret_Redemption_Line.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>Bring Your Daughter To Work Day</center></td>
        <td>
        <audio controls>
            <source src="..\static\Portal 2\Portal2-2x08-Bring_Your_Daughter_To_Work_Day.mp3" type="audio/mpeg"/>
            <source src="..\static\Portal 2\Portal2-2x08-Bring_Your_Daughter_To_Work_Day.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Portal 2\Portal2-2x08-Bring_Your_Daughter_To_Work_Day.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>Almost At Fifty Percent</center></td>
        <td>
        <audio controls>
            <source src="..\static\Portal 2\Portal2-2x09-Almost_At_Fifty_Percent.mp3" type="audio/mpeg"/>
            <source src="..\static\Portal 2\Portal2-2x09-Almost_At_Fifty_Percent.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Portal 2\Portal2-2x09-Almost_At_Fifty_Percent.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>Dont Do It</center></td>
        <td>
        <audio controls>
            <source src="..\static\Portal 2\Portal2-2x10-Dont_Do_It.mp3" type="audio/mpeg"/>
            <source src="..\static\Portal 2\Portal2-2x10-Dont_Do_It.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Portal 2\Portal2-2x10-Dont_Do_It.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>I AM NOT A MORON</center></td>
        <td>
        <audio controls>
            <source src="..\static\Portal 2\Portal2-2x11-I_AM_NOT_A_MORON.mp3" type="audio/mpeg"/>
            <source src="..\static\Portal 2\Portal2-2x11-I_AM_NOT_A_MORON.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Portal 2\Portal2-2x11-I_AM_NOT_A_MORON.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>Vitrification Order</center></td>
        <td>
        <audio controls>
            <source src="..\static\Portal 2\Portal2-2x12_Vitrification_Order.mp3" type="audio/mpeg"/>
            <source src="..\static\Portal 2\Portal2-2x12_Vitrification_Order.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Portal 2\Portal2-2x12_Vitrification_Order.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>Want You Gone</center></td>
        <td>
        <audio controls>
            <source src="..\static\Portal 2\Portal2-2x13-Want_You_Gone.mp3" type="audio/mpeg"/>
            <source src="..\static\Portal 2\Portal2-2x13-Want_You_Gone.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Portal 2\Portal2-2x13-Want_You_Gone.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>You Are Not Part Of The Control Group</center></td>
        <td>
        <audio controls>
            <source src="..\static\Portal 2\Portal2-2x14-You_Are_Not_Part_Of_The_Control_Group.mp3" type="audio/mpeg"/>
            <source src="..\static\Portal 2\Portal2-2x14-You_Are_Not_Part_Of_The_Control_Group.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Portal 2\Portal2-2x14-You_Are_Not_Part_Of_The_Control_Group.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>Forwarding The Cause Of Science</center></td>
        <td>
        <audio controls>
            <source src="..\static\Portal 2\Portal2-2x15-Forwarding_The_Cause_Of_Science.mp3" type="audio/mpeg"/>
            <source src="..\static\Portal 2\Portal2-2x15-Forwarding_The_Cause_Of_Science.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Portal 2\Portal2-2x15-Forwarding_The_Cause_Of_Science.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>PotatOS Lament</center></td>
        <td>
        <audio controls>
            <source src="..\static\Portal 2\Portal2-2x16-PotatOS_Lament.mp3" type="audio/mpeg"/>
            <source src="..\static\Portal 2\Portal2-2x16-PotatOS_Lament.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Portal 2\Portal2-2x16-PotatOS_Lament.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>The Reunion</center></td>
        <td>
        <audio controls>
            <source src="..\static\Portal 2\Portal2-2x17-The_Reunion.mp3" type="audio/mpeg"/>
            <source src="..\static\Portal 2\Portal2-2x17-The_Reunion.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Portal 2\Portal2-2x17-The_Reunion.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>Music Of The Spheres 2(Incendiary Lemons)</center></td>
        <td>
        <audio controls>
            <source src="..\static\Portal 2\Portal2-2x18-Music_Of_The_Spheres_2(Incendiary_Lemons).mp3" type="audio/mpeg"/>
            <source src="..\static\Portal 2\Portal2-2x18-Music_Of_The_Spheres_2(Incendiary_Lemons).ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Portal 2\Portal2-2x18-Music_Of_The_Spheres_2(Incendiary_Lemons).mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>Reconstructing More Science</center></td>
        <td>
        <audio controls>
            <source src="..\static\Portal 2\Portal2-3x01-Reconstructing_More_Science.mp3" type="audio/mpeg"/>
            <source src="..\static\Portal 2\Portal2-3x01-Reconstructing_More_Science.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Portal 2\Portal2-3x01-Reconstructing_More_Science.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>Wheatley Science</center></td>
        <td>
        <audio controls>
            <source src="..\static\Portal 2\Portal2-3x02-Wheatley_Science.mp3" type="audio/mpeg"/>
            <source src="..\static\Portal 2\Portal2-3x02-Wheatley_Science.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Portal 2\Portal2-3x02-Wheatley_Science.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>FrankenTurrets</center></td>
        <td>
        <audio controls>
            <source src="..\static\Portal 2\Portal2-3x03-FrankenTurrets.mp3" type="audio/mpeg"/>
            <source src="..\static\Portal 2\Portal2-3x03-FrankenTurrets.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Portal 2\Portal2-3x03-FrankenTurrets.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>Machiavellian Bach</center></td>
        <td>
        <audio controls>
            <source src="..\static\Portal 2\Portal2-3x04-Machiavellian_Bach.mp3" type="audio/mpeg"/>
            <source src="..\static\Portal 2\Portal2-3x04-Machiavellian_Bach.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Portal 2\Portal2-3x04-Machiavellian_Bach.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>Excursion Funnel</center></td>
        <td>
        <audio controls>
            <source src="..\static\Portal 2\Portal2-3x05-Excursion_Funnel.mp3" type="audio/mpeg"/>
            <source src="..\static\Portal 2\Portal2-3x05-Excursion_Funnel.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Portal 2\Portal2-3x05-Excursion_Funnel.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>TEST</center></td>
        <td>
        <audio controls>
            <source src="..\static\Portal 2\Portal2-3x06-TEST.mp3" type="audio/mpeg"/>
            <source src="..\static\Portal 2\Portal2-3x06-TEST.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Portal 2\Portal2-3x06-TEST.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>The Part Where He Kills You</center></td>
        <td>
        <audio controls>
            <source src="..\static\Portal 2\Portal2-3x07-The_Part_Where_He_Kills_You.mp3" type="audio/mpeg"/>
            <source src="..\static\Portal 2\Portal2-3x07-The_Part_Where_He_Kills_You.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Portal 2\Portal2-3x07-The_Part_Where_He_Kills_You.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>Omg What has He Done </center></td>
        <td>
        <audio controls>
            <source src="..\static\Portal 2\Portal2-3x08-Omg_What_has_He_Done_.mp3" type="audio/mpeg"/>
            <source src="..\static\Portal 2\Portal2-3x08-Omg_What_has_He_Done_.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Portal 2\Portal2-3x08-Omg_What_has_He_Done_.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>Bombs for Throwing at You</center></td>
        <td>
        <audio controls>
            <source src="..\static\Portal 2\Portal2-3x09-Bombs_for_Throwing_at_You.mp3" type="audio/mpeg"/>
            <source src="..\static\Portal 2\Portal2-3x09-Bombs_for_Throwing_at_You.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Portal 2\Portal2-3x09-Bombs_for_Throwing_at_You.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>Your Precious Moon</center></td>
        <td>
        <audio controls>
            <source src="..\static\Portal 2\Portal2-3x10-Your_Precious_Moon.mp3" type="audio/mpeg"/>
            <source src="..\static\Portal 2\Portal2-3x10-Your_Precious_Moon.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Portal 2\Portal2-3x10-Your_Precious_Moon.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>Caroline Deleted</center></td>
        <td>
        <audio controls>
            <source src="..\static\Portal 2\Portal2-3x11-Caroline_Deleted.mp3" type="audio/mpeg"/>
            <source src="..\static\Portal 2\Portal2-3x11-Caroline_Deleted.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Portal 2\Portal2-3x11-Caroline_Deleted.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>Cara Mia Addio</center></td>
        <td>
        <audio controls>
            <source src="..\static\Portal 2\Portal2-3x12-Cara_Mia_Addio.mp3" type="audio/mpeg"/>
            <source src="..\static\Portal 2\Portal2-3x12-Cara_Mia_Addio.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Portal 2\Portal2-3x12-Cara_Mia_Addio.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>Music Of The Spheres</center></td>
        <td>
        <audio controls>
            <source src="..\static\Portal 2\Portal2-3x13-Music_Of_The_Spheres.mp3" type="audio/mpeg"/>
            <source src="..\static\Portal 2\Portal2-3x13-Music_Of_The_Spheres.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Portal 2\Portal2-3x13-Music_Of_The_Spheres.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>Spaaaaace</center></td>
        <td>
        <audio controls>
            <source src="..\static\Portal 2\Portal2-3x14-Spaaaaace.mp3" type="audio/mpeg"/>
            <source src="..\static\Portal 2\Portal2-3x14-Spaaaaace.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Portal 2\Portal2-3x14-Spaaaaace.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>Space Phase</center></td>
        <td>
        <audio controls>
            <source src="..\static\Portal 2\Portal2-3x15-Space_Phase.mp3" type="audio/mpeg"/>
            <source src="..\static\Portal 2\Portal2-3x15-Space_Phase.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Portal 2\Portal2-3x15-Space_Phase.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>Some Assembly Required</center></td>
        <td>
        <audio controls>
            <source src="..\static\Portal 2\Portal2-3x16-Some_Assembly_Required.mp3" type="audio/mpeg"/>
            <source src="..\static\Portal 2\Portal2-3x16-Some_Assembly_Required.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Portal 2\Portal2-3x16-Some_Assembly_Required.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>Robot Waiting Room 1</center></td>
        <td>
        <audio controls>
            <source src="..\static\Portal 2\Portal2-3x17-Robot_Waiting_Room_1.mp3" type="audio/mpeg"/>
            <source src="..\static\Portal 2\Portal2-3x17-Robot_Waiting_Room_1.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Portal 2\Portal2-3x17-Robot_Waiting_Room_1.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>Robot Waiting Room 2</center></td>
        <td>
        <audio controls>
            <source src="..\static\Portal 2\Portal2-3x18-Robot_Waiting_Room_2.mp3" type="audio/mpeg"/>
            <source src="..\static\Portal 2\Portal2-3x18-Robot_Waiting_Room_2.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Portal 2\Portal2-3x18-Robot_Waiting_Room_2.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>Robot Waiting Room 3</center></td>
        <td>
        <audio controls>
            <source src="..\static\Portal 2\Portal2-3x19-Robot_Waiting_Room_3.mp3" type="audio/mpeg"/>
            <source src="..\static\Portal 2\Portal2-3x19-Robot_Waiting_Room_3.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Portal 2\Portal2-3x19-Robot_Waiting_Room_3.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>Robot Waiting Room 4</center></td>
        <td>
        <audio controls>
            <source src="..\static\Portal 2\Portal2-3x20-Robot_Waiting_Room_4.mp3" type="audio/mpeg"/>
            <source src="..\static\Portal 2\Portal2-3x20-Robot_Waiting_Room_4.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Portal 2\Portal2-3x20-Robot_Waiting_Room_4.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>Robot Waiting Room 5</center></td>
        <td>
        <audio controls>
            <source src="..\static\Portal 2\Portal2-3x21-Robot_Waiting_Room_5.mp3" type="audio/mpeg"/>
            <source src="..\static\Portal 2\Portal2-3x21-Robot_Waiting_Room_5.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Portal 2\Portal2-3x21-Robot_Waiting_Room_5.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>Robot Waiting Room 6</center></td>
        <td>
        <audio controls>
            <source src="..\static\Portal 2\Portal2-3x22-Robot_Waiting_Room_6.mp3" type="audio/mpeg"/>
            <source src="..\static\Portal 2\Portal2-3x22-Robot_Waiting_Room_6.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Portal 2\Portal2-3x22-Robot_Waiting_Room_6.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>You Saved Science</center></td>
        <td>
        <audio controls>
            <source src="..\static\Portal 2\Portal2-3x23-You_Saved_Science.mp3" type="audio/mpeg"/>
            <source src="..\static\Portal 2\Portal2-3x23-You_Saved_Science.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Portal 2\Portal2-3x23-You_Saved_Science.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>Robots FTW</center></td>
        <td>
        <audio controls>
            <source src="..\static\Portal 2\Portal2-3x24-Robots_FTW.mp3" type="audio/mpeg"/>
            <source src="..\static\Portal 2\Portal2-3x24-Robots_FTW.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Portal 2\Portal2-3x24-Robots_FTW.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>

</table>

{% endblock %}