{% extends 'base.html' %}

{% block body %}

<h2>{{ the_title }}</h2>

<table>

	    <tr>
        <td><center>Interfacing</center></td>
        <td>
        <audio controls>
            <source src="..\static\Portal Stories Mel\01 - Interfacing.mp3" type="audio/mpeg"/>
            <source src="..\static\Portal Stories Mel\01 - Interfacing.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Portal Stories Mel\01 - Interfacing.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>Arrival</center></td>
        <td>
        <audio controls>
            <source src="..\static\Portal Stories Mel\02 - Arrival.mp3" type="audio/mpeg"/>
            <source src="..\static\Portal Stories Mel\02 - Arrival.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Portal Stories Mel\02 - Arrival.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>Aperture Central</center></td>
        <td>
        <audio controls>
            <source src="..\static\Portal Stories Mel\03 - Aperture Central.mp3" type="audio/mpeg"/>
            <source src="..\static\Portal Stories Mel\03 - Aperture Central.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Portal Stories Mel\03 - Aperture Central.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>The Spheres</center></td>
        <td>
        <audio controls>
            <source src="..\static\Portal Stories Mel\04 - The Spheres.mp3" type="audio/mpeg"/>
            <source src="..\static\Portal Stories Mel\04 - The Spheres.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Portal Stories Mel\04 - The Spheres.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>Deep Sleep</center></td>
        <td>
        <audio controls>
            <source src="..\static\Portal Stories Mel\05 - Deep Sleep.mp3" type="audio/mpeg"/>
            <source src="..\static\Portal Stories Mel\05 - Deep Sleep.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Portal Stories Mel\05 - Deep Sleep.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>Waking Up To Science</center></td>
        <td>
        <audio controls>
            <source src="..\static\Portal Stories Mel\06 - Waking Up To Science.mp3" type="audio/mpeg"/>
            <source src="..\static\Portal Stories Mel\06 - Waking Up To Science.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Portal Stories Mel\06 - Waking Up To Science.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>Testing Begins</center></td>
        <td>
        <audio controls>
            <source src="..\static\Portal Stories Mel\07 - Testing Begins.mp3" type="audio/mpeg"/>
            <source src="..\static\Portal Stories Mel\07 - Testing Begins.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Portal Stories Mel\07 - Testing Begins.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>Adjacency</center></td>
        <td>
        <audio controls>
            <source src="..\static\Portal Stories Mel\08 - Adjacency.mp3" type="audio/mpeg"/>
            <source src="..\static\Portal Stories Mel\08 - Adjacency.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Portal Stories Mel\08 - Adjacency.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>Out Of Order</center></td>
        <td>
        <audio controls>
            <source src="..\static\Portal Stories Mel\09 - Out Of Order.mp3" type="audio/mpeg"/>
            <source src="..\static\Portal Stories Mel\09 - Out Of Order.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Portal Stories Mel\09 - Out Of Order.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>Acceleration</center></td>
        <td>
        <audio controls>
            <source src="..\static\Portal Stories Mel\10 - Acceleration.mp3" type="audio/mpeg"/>
            <source src="..\static\Portal Stories Mel\10 - Acceleration.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Portal Stories Mel\10 - Acceleration.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>Firestorm</center></td>
        <td>
        <audio controls>
            <source src="..\static\Portal Stories Mel\11 - Firestorm.mp3" type="audio/mpeg"/>
            <source src="..\static\Portal Stories Mel\11 - Firestorm.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Portal Stories Mel\11 - Firestorm.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center> The Junkyards</center></td>
        <td>
        <audio controls>
            <source src="..\static\Portal Stories Mel\12a - The Junkyards.mp3" type="audio/mpeg"/>
            <source src="..\static\Portal Stories Mel\12a - The Junkyards.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Portal Stories Mel\12a - The Junkyards.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center> The Junkyard Offices</center></td>
        <td>
        <audio controls>
            <source src="..\static\Portal Stories Mel\12b - The Junkyard Offices.mp3" type="audio/mpeg"/>
            <source src="..\static\Portal Stories Mel\12b - The Junkyard Offices.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Portal Stories Mel\12b - The Junkyard Offices.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center> Welcome To The Future</center></td>
        <td>
        <audio controls>
            <source src="..\static\Portal Stories Mel\13a - Welcome To The Future.mp3" type="audio/mpeg"/>
            <source src="..\static\Portal Stories Mel\13a - Welcome To The Future.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Portal Stories Mel\13a - Welcome To The Future.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center> Welcome To The Future [funnel]</center></td>
        <td>
        <audio controls>
            <source src="..\static\Portal Stories Mel\13b - Welcome To The Future [funnel].mp3" type="audio/mpeg"/>
            <source src="..\static\Portal Stories Mel\13b - Welcome To The Future [funnel].ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Portal Stories Mel\13b - Welcome To The Future [funnel].mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center> Long Way Down</center></td>
        <td>
        <audio controls>
            <source src="..\static\Portal Stories Mel\14a - Long Way Down.mp3" type="audio/mpeg"/>
            <source src="..\static\Portal Stories Mel\14a - Long Way Down.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Portal Stories Mel\14a - Long Way Down.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center> Long Way Down [funnel]</center></td>
        <td>
        <audio controls>
            <source src="..\static\Portal Stories Mel\14b - Long Way Down [funnel].mp3" type="audio/mpeg"/>
            <source src="..\static\Portal Stories Mel\14b - Long Way Down [funnel].ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Portal Stories Mel\14b - Long Way Down [funnel].mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center> Obscuration</center></td>
        <td>
        <audio controls>
            <source src="..\static\Portal Stories Mel\15a - Obscuration.mp3" type="audio/mpeg"/>
            <source src="..\static\Portal Stories Mel\15a - Obscuration.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Portal Stories Mel\15a - Obscuration.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center> Obscuration [funnel]</center></td>
        <td>
        <audio controls>
            <source src="..\static\Portal Stories Mel\15b - Obscuration [funnel].mp3" type="audio/mpeg"/>
            <source src="..\static\Portal Stories Mel\15b - Obscuration [funnel].ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Portal Stories Mel\15b - Obscuration [funnel].mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center> Transitional Period</center></td>
        <td>
        <audio controls>
            <source src="..\static\Portal Stories Mel\16a - Transitional Period.mp3" type="audio/mpeg"/>
            <source src="..\static\Portal Stories Mel\16a - Transitional Period.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Portal Stories Mel\16a - Transitional Period.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center> Transitional Period [funnel]</center></td>
        <td>
        <audio controls>
            <source src="..\static\Portal Stories Mel\16b - Transitional Period [funnel].mp3" type="audio/mpeg"/>
            <source src="..\static\Portal Stories Mel\16b - Transitional Period [funnel].ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Portal Stories Mel\16b - Transitional Period [funnel].mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center> Natural Light</center></td>
        <td>
        <audio controls>
            <source src="..\static\Portal Stories Mel\17a - Natural Light.mp3" type="audio/mpeg"/>
            <source src="..\static\Portal Stories Mel\17a - Natural Light.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Portal Stories Mel\17a - Natural Light.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center> Natural Light [funnel]</center></td>
        <td>
        <audio controls>
            <source src="..\static\Portal Stories Mel\17b - Natural Light [funnel].mp3" type="audio/mpeg"/>
            <source src="..\static\Portal Stories Mel\17b - Natural Light [funnel].ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Portal Stories Mel\17b - Natural Light [funnel].mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center> Troubled Water</center></td>
        <td>
        <audio controls>
            <source src="..\static\Portal Stories Mel\18a - Troubled Water.mp3" type="audio/mpeg"/>
            <source src="..\static\Portal Stories Mel\18a - Troubled Water.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Portal Stories Mel\18a - Troubled Water.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center> Troubled Water [funnel]</center></td>
        <td>
        <audio controls>
            <source src="..\static\Portal Stories Mel\18b - Troubled Water [funnel].mp3" type="audio/mpeg"/>
            <source src="..\static\Portal Stories Mel\18b - Troubled Water [funnel].ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Portal Stories Mel\18b - Troubled Water [funnel].mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center> Testing With Nature</center></td>
        <td>
        <audio controls>
            <source src="..\static\Portal Stories Mel\19a - Testing With Nature.mp3" type="audio/mpeg"/>
            <source src="..\static\Portal Stories Mel\19a - Testing With Nature.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Portal Stories Mel\19a - Testing With Nature.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center> Testing With Nature [funnel]</center></td>
        <td>
        <audio controls>
            <source src="..\static\Portal Stories Mel\19b - Testing With Nature [funnel].mp3" type="audio/mpeg"/>
            <source src="..\static\Portal Stories Mel\19b - Testing With Nature [funnel].ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Portal Stories Mel\19b - Testing With Nature [funnel].mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center> Skototropism</center></td>
        <td>
        <audio controls>
            <source src="..\static\Portal Stories Mel\20a - Skototropism.mp3" type="audio/mpeg"/>
            <source src="..\static\Portal Stories Mel\20a - Skototropism.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Portal Stories Mel\20a - Skototropism.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center> Skototropism [funnel]</center></td>
        <td>
        <audio controls>
            <source src="..\static\Portal Stories Mel\20b - Skototropism [funnel].mp3" type="audio/mpeg"/>
            <source src="..\static\Portal Stories Mel\20b - Skototropism [funnel].ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Portal Stories Mel\20b - Skototropism [funnel].mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>Halted Production</center></td>
        <td>
        <audio controls>
            <source src="..\static\Portal Stories Mel\21 - Halted Production.mp3" type="audio/mpeg"/>
            <source src="..\static\Portal Stories Mel\21 - Halted Production.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Portal Stories Mel\21 - Halted Production.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center> Live Fire Exercise</center></td>
        <td>
        <audio controls>
            <source src="..\static\Portal Stories Mel\22a - Live Fire Exercise.mp3" type="audio/mpeg"/>
            <source src="..\static\Portal Stories Mel\22a - Live Fire Exercise.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Portal Stories Mel\22a - Live Fire Exercise.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center> Live Fire Exercise [funnel]</center></td>
        <td>
        <audio controls>
            <source src="..\static\Portal Stories Mel\22b - Live Fire Exercise [funnel].mp3" type="audio/mpeg"/>
            <source src="..\static\Portal Stories Mel\22b - Live Fire Exercise [funnel].ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Portal Stories Mel\22b - Live Fire Exercise [funnel].mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>System Corruption</center></td>
        <td>
        <audio controls>
            <source src="..\static\Portal Stories Mel\23 - System Corruption.mp3" type="audio/mpeg"/>
            <source src="..\static\Portal Stories Mel\23 - System Corruption.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Portal Stories Mel\23 - System Corruption.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>Decades Of Science</center></td>
        <td>
        <audio controls>
            <source src="..\static\Portal Stories Mel\24 - Decades Of Science.mp3" type="audio/mpeg"/>
            <source src="..\static\Portal Stories Mel\24 - Decades Of Science.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Portal Stories Mel\24 - Decades Of Science.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>The Best The World Had To Offer</center></td>
        <td>
        <audio controls>
            <source src="..\static\Portal Stories Mel\25 - The Best The World Had To Offer.mp3" type="audio/mpeg"/>
            <source src="..\static\Portal Stories Mel\25 - The Best The World Had To Offer.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Portal Stories Mel\25 - The Best The World Had To Offer.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>Mel's Story</center></td>
        <td>
        <audio controls>
            <source src="..\static\Portal Stories Mel\26 - Mel's Story.mp3" type="audio/mpeg"/>
            <source src="..\static\Portal Stories Mel\26 - Mel's Story.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Portal Stories Mel\26 - Mel's Story.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>Troubled Water [Trailer Theme]</center></td>
        <td>
        <audio controls>
            <source src="..\static\Portal Stories Mel\27 - Troubled Water [Trailer Theme].mp3" type="audio/mpeg"/>
            <source src="..\static\Portal Stories Mel\27 - Troubled Water [Trailer Theme].ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Portal Stories Mel\27 - Troubled Water [Trailer Theme].mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>Waking Up To Science [menu]</center></td>
        <td>
        <audio controls>
            <source src="..\static\Portal Stories Mel\28 - Waking Up To Science [menu].mp3" type="audio/mpeg"/>
            <source src="..\static\Portal Stories Mel\28 - Waking Up To Science [menu].ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Portal Stories Mel\28 - Waking Up To Science [menu].mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>Adjacency [menu]</center></td>
        <td>
        <audio controls>
            <source src="..\static\Portal Stories Mel\29 - Adjacency [menu].mp3" type="audio/mpeg"/>
            <source src="..\static\Portal Stories Mel\29 - Adjacency [menu].ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Portal Stories Mel\29 - Adjacency [menu].mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>System Corruption [alternate]</center></td>
        <td>
        <audio controls>
            <source src="..\static\Portal Stories Mel\30 - System Corruption [alternate].mp3" type="audio/mpeg"/>
            <source src="..\static\Portal Stories Mel\30 - System Corruption [alternate].ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Portal Stories Mel\30 - System Corruption [alternate].mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
    
    
    <tr>
        <td><center>Time and Time Again</center></td>
        <td>
        <audio controls>
            <source src="..\static\Portal Stories Mel\31 - Time and Time Again.mp3" type="audio/mpeg"/>
            <source src="..\static\Portal Stories Mel\31 - Time and Time Again.ogg" type="audio/ogg; codecs=vorbis"/>
        </audio>
        </td>
        <td><a href="..\static\Portal Stories Mel\31 - Time and Time Again.mp3"><img src="../static/sample.png" width="50" height="50"></a></td>
    </tr>
	
</table>

{% endblock %}